
# Website Search packages 
bing_image_downloader==1.1.1
search_engine_parser
google-api-python-client==1.8.0
google-auth-oauthlib
google_images_download>=2.7.1
gsearch
gtts
googletrans
google-trans-new
geopy
gpytranslate
feedparser
html2text


# Youtube
youtube_dl
youtube_search_python
yt-dlp
youtube_search
youtube-search-python


# Github Repos
git+https://github.com/Awesome-RJ/GoGoAnimeAPI.git
git+https://github.com/python-telegram-bot/ptbcontrib.git



# Python 
pydub==0.25.1
psutil==5.8.0
pykeyboard
python-telegram-bot==12.8
opencv-python
pytube
heroku3
python-arq
dnspython
future
wget==3.2
apscheduler
selenium==4.0.0
pynewtonmath
NumPy==1.21.3
tswift
requests
psycopg2-binary
PyDictionary==2.0.1
pyrate-limiter
psutil
python-rapidjson
psutil



# Image & Text
carbonnow
pretty_errors
secureme==0.0.4
beautifulsoup4
telegraph
emoji
faker
zalgo-text
markdown2>=2.4.0
cowpy

# Music
ffmpeg
beautifulsoup4



# Database
# sqlalchemy==1.3.20
# sqlalchemy==1.4.26
sqlalchemy
pymongo
motor
nltk



# Clients 
tgCrypto>=1.2.2
pyrogram
telethon==1.16.4


# Extras
countryinfo
aiofiles
sylviorus
lxml==4.6.5
odmantic
spongemock
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
jikanpy
speedtest-cli
regex
bleach
zalgo_text
wikipedia
ujson
spamwatch
alphabet_detector
cachetools
nekos.py
selenium
pendulum
httpx[http2]>=0.18.1,<1.0.0
